version: "3.7"

services:
  api:
    build: .
    depends_on:
      - mongo
      - kafka
      - redis
    ports:
      - "8080:8080"
    environment:
      REDIS_URI: redis://redis:6379
      MONGO_URI: mongodb://mongo:27017
  
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
     - ./scripts/mongo/mongorestore.sh:/docker-entrypoint-initdb.d/mongorestore.sh
     - ./scripts/mongo/xmdb:/xmdb

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 2181:2181
    
  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  redis:
    image: redis:latest
    ports:
      - "6379:6379"